.card {
  display: flex;
  display: -webkit-flex;
  width: 100%;
  position: relative;
  height: 100px;
  text-decoration: none !important;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgb(0 0 0 / 5%);
  margin-bottom: 25px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &__image {
    height: 76px;
    position: absolute;
    top: 12px;
    left: 17px;
  }
  &__text {
    display: block;
    font-weight: 400;
    color: #5e5d73;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    width: 100%;
  }
}

.card:hover {
  box-shadow: 8px 14px 21px rgb(163 172 181 / 23%);
  transform: translateY(-3px);
}

.container {
  padding-left: 124px;
  padding-right: 20px;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media screen and (max-width: 575.98px) {
  .card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 340.02px) {
  .card {
    &__text {
      font-size: 0.9rem;
    }
  }
}
