.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.92);
  -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 13%);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.13);
  box-shadow: 0 1px 5px rgb(0 0 0 / 13%);
  z-index: 999;
  &__navigation {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    margin: 0 auto;
  }
  &__logo {
  }
  &__phone {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  &__logo a,
  &__phone a {
    font-size: 0.89rem;
    line-height: 1.1;
    font-style: normal;
    color: #533738;
  }
  &__phone::after {
    position: absolute;
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    left: 50%;
    background-color: #533738;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &__phone:hover:after,
  &__phone:focus:after {
    width: 100%;
  }
}
