.header {
  position: absolute;
  top: 0;
  width: 100%;
  &__navigation {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-top: 36px;
    margin: 0 auto;
  }
  &__logo {
	
  }
}
