.team {
  width: 100%;
  padding-bottom: 35px;
  background-color: #e2c4ba;
  &__title {
    margin-top: 50px;
    text-align: center;
    font-size: 2.22rem;
    line-height: 1.25;
  }
  &__container {
    max-width: 1037px;
    width: 100%;
    margin: 10px auto 0;
  }
  &__container img {
    margin-left: -37px;
    background: #A5808A;
    border: 13px solid #A5808A;
    border-radius: 13px;
    transform: scale(.84)translateX(15%)rotateZ(calc(-1 * (11 * 0.5deg)));
    transform-origin: 0 100%;
    overflow: hidden;
  }
  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-evenly;
    column-gap: 2.1rem;
  }
  &__description {
    max-width: 320px;
    margin-top: 10px;
  }
}
