.team {
  width: 100%;
  padding-bottom: 35px;
  background-color: #e2c4ba;
  &__title {
    margin-top: 50px;
    text-align: center;
    font-size: 2.22rem;
    line-height: 1.25;
  }
  &__container {
    max-width: 970px;
    width: 100%;
    margin: 10px auto 0;
  }
  &__container img {
    border-radius: 50%;
    overflow: hidden;
  }
  &__content {
    display: grid;
    height: auto;
    grid-template-columns: 285px 285px;
    align-items: start;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
  }
  &__content figure {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 25px;
  }
  &__description {
    max-width: 320px;
    margin-top: 10px;
    font-size: 0.77rem;
    text-align: center;
  }
  &__full_name {
    font-size: 0.88rem;
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media screen and (max-width: 479.98px) {
  .team {
    &__content figure {
      width: 100vw;
    }
  }
}

// `sm` applies to x-small devices (portrait phones, less than 576px)
@media screen and (max-width: 575.98px) {
  .team {
    &__description {
      max-width: 576px;
      padding: 0px 20px;
    }
  }
}

// `md` applies to small devices (landscape phones, less than 768px)
@media screen and (max-width: 767.98px) {
  .team {
    &__content {
      grid-template-columns: 285px;
      grid-row-gap: 25px;
    }
    &__description {
      max-width: 458px;
    }
    &__content figure {
      text-align: center;
    }
  }
}
