.about {
  width: 100%;
  background-color: #efe6e4;
  &__title {
    font-size: 2.22rem;
    line-height: 1.25;
    margin-top: 65px;
    text-align: center;
  }
  &__container {
    max-width: 1037px;
    width: 100%;
    margin: 40px auto 0;
  }
  &__content {
    display: flex;
    padding-bottom: 21px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.55rem;
  }
}
