.contacts {
  width: 100%;
  background-color: #4b423a;
  &__content {
    max-width: 1152px;
    width: 100%;
    margin-left: 181px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__container {
    margin-top: 50px;
  }
  &__container p {
    max-width: 507px;
    padding: 24px 0 44px 0;
    color: #ffffff;
    opacity: 0.6;
  }
  &__title {
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2.22rem;
    line-height: 1.25;
  }
  &__adress {
    position: relative;
    height: 624px;
  }
}
